@model IEnumerable<RecipeDb>
@{
    ViewData["Title"] = "SortingResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SortingResult</h1>

<table class="table" id="table1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(test => test.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.ImageUrl != null)
                    {
                        <img height="120" width="170" src="@Url.Content(item.ImageUrl)" alt="Image" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Recipe", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
